/* Variáveis */
:root {
  --primary-blue: #1E3A8A;
  --secondary-blue: #3B82F6;
  --white: #ffffff;
  --gray: #f4f4f4;
  --text-dark: #333333;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--gray);
  color: var(--text-dark);
}

/* Header */
header {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .logo img {
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

nav a {
  color: var(--primary-blue);
  text-decoration: none;
  font-weight: 500;
  transition: color .3s;
}

nav a:hover {
  color: var(--secondary-blue);
}

/* FOOTER */
footer {
  text-align: center;
  background: var(--text-dark);
  color: var(--white);
  padding: 15px;
}

/* Botão menu mobile */
.menu-toggle {
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-blue);
}

.login-icon a {
  color: var(--primary-blue);
  font-size: 1.8rem;
}

.menu-close {
  display: none;
}

.active{
  color: var(--secondary-blue);
}

/* MOBILE */
@media (max-width: 768px) {
  /* Ajuste no header para centralizar o sanduíche */
  header {
    padding: 20px;
    justify-content: center;
    position: relative;
  }

  .menu-toggle {
    display: block;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-blue);
    margin: 0;
  }

  .logo {
    position: absolute;
    left: 20px;
  }

  .logo img {
    height: 60px;
  }

  .login-icon {
    position: absolute;
    right: 20px;
  }

  nav {
    position: relative;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--white);
    padding: 80px 20px 30px;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.35s ease;
    z-index: 2000;
    transform: translateY(-100%);
  }

  .menu.show {
    transform: translateY(0);
  }

  /* Botão de fechar */
   .menu-close {
    display: block; /* Para mostrar apenas no mobile */
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-blue);
  }

  .menu a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-blue);
    padding: 15px 20px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
  }

  .menu a:last-child {
    border-bottom: none;
  }
}