/* Carrossel */
.carousel {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: none;
}

.slide.active {
  display: block;
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.3rem;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 0 20px;
  transform: translateY(-50%);
}

.indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--secondary-blue);
}